{{#each model as |problem|}}
  <h2>
    {{#link-to "problems.show" problem}}
    {{problem.title}}
    {{/link-to}}
  </h2>
  <div>
    {{markdown-to-html problem.summary}}
  </div>
  <div>
    {{#link-to "problems.show" problem}}
    Check your solution
    {{/link-to}}
  </div>
  {{#if problem.solution_url }}
    <div>
      <a href="{{problem.solution_url}}">
      Read our solution
      </a>
    </div>
  {{/if}}
{{/each}}
