<article class="problem">
  <h2>
    {{model.title}}
  </h2>
  <div class="problem-statement">
    {{model.statement}}
  </div>
</article>

<h3>
  Check your solution
</h3>
<form>
  <div class="form-group">
    <label for="candidate-solution">Your code</label>
    <textarea class="form-control" id="candidate-solution" rows="10"></textarea>
  </div>
  <div class="input-group pull-left">
    <label for="language">Code is written in</label>
    <select class="form-control" id="language">
      <option value="" selected disabled>Select language</option>
      {{#each model.languages as |language|}}
        <option value="{{language.id}}">{{language.id}}</option>
      {{/each}}
    </select>
  </div>

  <div class="input-group pull-right">
    <button class="btn btn-success btn-lg" type="button">Check code</button>
  </div>
</form>
