<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
    <h1><em>The Book of Problems</em></h1>
    {{/link-to}}
    {{#bs-alert type="info" dismissible=false}}
      <p>
      <b>2017-10-08</b> The Book of Problems currently supports Ruby,
      Python and now <b>Elixir</b>.  More languages will come soon.
      </p>
    {{/bs-alert}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
