<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
    <h1><em>The Book of Problems</em></h1>
    {{/link-to}}
    {{#bs-alert type="info" dismissible=false}}
      <p>
      <b>2018-07-09</b> The Book of Problems currently supports Ruby,
      Python, Elixir, Java, C, OCaml, and now <b>C++</b>!
      </p>
    {{/bs-alert}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
